html {
  height: 100%;
  background-color: #444444;
  /* background: url("") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: monospace;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 70%;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  padding-top: 10px;
}

h3 {
  font-size: 14px;
}

.links {
  text-align: center;
  /* position: fixed;
  bottom: 30px;
  left: 0;
  right: 0; */
}

.links>a {
  font-size: 50px;
  font-family: 'Monoton', cursive;
  display: block;
  background-color: #444444;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

/* Prevent blue highlight on link click */

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/*  SECTIONS  */

.section {
  clear: both;
  height: 100%;
}

/*  COLUMN SETUP  */

.col {
  display: block;
  float: left;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

/* GRID OF TWO */

.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 700px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%;
    top: 20%;
  }
}