html {
  height: 100%;
  background: url("../images/fire.jpg") no-repeat center center;
  background-size: cover;
  background-color: black;
}

body {
  position: absolute;
  top: 3vh;
  right: 3vh;
}

.image {
  width: 15vw;
}

.icons {
  font-size: 2.5em;
  color: white;
  display: grid;
}

.icons>i {
  text-align: right;
  padding-top: 25px;
}

@media (max-width: 475px) {
  .container {
    position: inherit;
    width: 30vh;
    margin: 0 auto 0 auto;
    padding: 5vh;
  }
}