html {
    height: 100%;
    
    /* background: url("") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    background-color: #000000;
  }
  
  body {
    font-family: sans-serif;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    width: 45%;
    margin: 0 auto;
    padding-top: 1%;
  }

  /* Prevent blue highlight on link click */
  .noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  @media (max-width: 1000px) {
    .logo {
      width: 60%;
    }
  }